.announcement-content{
    width: 100%;
    padding-bottom: 100px;
    overflow-x: hidden !important;
}


.announcement-content .container-fluid{
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.announcement-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.announcement-box{
    position: relative;
    width: 60%;
    height: auto;
    background: white;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1);
    border: 1px solid #e6eaee;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.announcement-box .author{
    display: flex;
    padding: 15px;
}

.announcement-box .author img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.announcement-box .author-info{
    margin-left: 15px;
    display: block;
    margin-top: 8px;
}

.announcement-box .author-info h4{
   font-size: 18px;
   font-weight: bold;
}

.announcement-box .author-info p{
    margin-top: -8px;
   font-size: 13px;
}

.announcement-box .nav-icon{
    color: gray;
    margin-left: 5px;
}

.featured-image{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 5px 5px;
}

.featured-image img{
    width: 100%;
    height: 100%;
}

.attached-file{
    display: block;
    padding-left: 25px;
    margin-bottom: 10px;
}
.announcement-info{
    display: flex;
    padding-left: 25px;
}

.attached-file span{
    color: rgb(0, 27, 0);
}

.attached-file .btn-resized{
    margin-top: 1px;
    height: 25px;
}

.attached-file a,
.attached-file p{
    padding-right: 5px;
}

.announcement-info{
    padding-top: 10px;
    background: #0262C6;
    border-radius: 0 0 5px 5px;
}
.announcement-info p{
    font-size: 14px;
    color: white;
}

.announcement-box .content{
    margin: 15px;
    padding: 10px;
    margin-top: -15px;
    background: white;
    border-radius: 5px;
}

.btn-infos{
    color: white !important;
    background: #28a745 !important;
}

.admin-btn{
    position: absolute;
    top: 5px;
    display: flex;
    right: 10px;
}

.admin-btn p{
    margin-right: 5px;
    cursor: pointer;
}

.btn-attach-file{
    background: #045C9C !important;
    border-radius: 3px !important;
    padding: 7px !important;
}

.btn-featured-img{
    background: #045C9C !important;
    border-radius: 3px !important;
    padding: 7px !important;
}

.anns{
    width: 100%;
    height: 100%;
    position: fixed; top: 0; left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.anns-full-h{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.add-announcement-container{
    width: 500px;
    height: fit-content;
}

.tox-tinymce {
    min-height: 250px;
}

.announcement-header{
    position: relative;
}

.announcement-content .header-sticky-top{
    position: sticky !important;
    top: 200px !important;
    display: flex;
}

.announcement-info p{
    text-transform: capitalize;
}

.anns-buttons{
    display: flex;
    align-items: center;
    justify-content: start;
}

.anns-buttons a{
    color: white;
    background: #1796aa;
    text-align: center;
    vertical-align:middle;
    margin-right: 7px;
    padding: 1px 7px 3px 7px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}

.anns-buttons a:hover{
    color: white;
    background: #10798a;
}

.pop-up-message{
    position: absolute;
    top: -100px;
    right: 10px;
    width: auto;
    height: 60px;
    background: white;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1);
    border: 1px solid #e6eaee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 9999;
}

.pop-up-message .close{
   margin-top: -7px;
   margin-left: -10px;
}

.pop-up-message p{
    margin-top: 13px;
    margin-left: 10px;
    text-align: center;
    color: #28a745;
}



.close-form{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}

@media (max-width:768px){
    .announcement-box{
        width: 100%;
    }
    .anns{      
        position: absolute; top: 0; left: 0;
    }

    .add-announcement-container{
        width: 100vw;
    }
    
}