.input-group{
    flex-wrap: nowrap !important;
}

.date-filter{
    position: relative;
    width: fit-content;
    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    justify-content: left;
    align-items: center;
    padding: 3px 0 0 10px;
    height: 40px;
}

.col-md-2,
.col-md-3{
    padding: 0 !important;
}

.date-filter span{
    font-size: 11px;
    position: absolute;
    margin-top: 1px;
    margin-left: 4px;
}

.reset-date{
    position: absolute;
    right: -36px;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e6e6e6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reset-date:hover{
    background: #313131;
}

.shadowed-left{
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.075);
}

.date-wrapper{
    width: 200px;
}


.reset-date.on-movile{
    display: none;
}

.input-group input[type="radio"]:checked ~ .checkmark {
    background-color: #75e0fe;
}

.options{
    position: relative;
}

.options.on-mobile .options-container{
    position: absolute;
    left:20px; top: 100px;
    background: white;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: none;
    height: 100px;
    width: 150px;
    padding: 8px;
}

.options-container.on-desktop{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    background: white;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: none;
    height: 100px;
    width: 150px;
    padding: 8px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.change-stat-container:hover .options-container.on-desktop{
    position: absolute;
    opacity: 1;
    display: block;
    top: 25px;
}

.change-stat-container{
    position: relative;
    width: fit-content;
}

.table-action-buttons{
    width: 40% !important;
    height: 100% !important;
    align-items: end !important;
    padding-right: 25px;
    z-index: 1;
}

.main-data{
    font-weight: bold;
    font-size: 16px;
}

.notif-count{
    position: absolute;
    top: -7px;
    left: 20px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 11px;
    text-align: right;
}

.event-status-wrapper{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-radius: 50px;
}

.btn-status{
    background: #f3f3f3;
    border-radius: 20px;
    margin-top: 5px;
    color:#313131;
    border: none;
    padding: 0 10px;
    border: 1px solid white;
    transition: all 0.2s ease-in-out !important;
    font-size: 12px;
}
.btn-status:hover{
    padding: 0 15px;
}
.btn-status:focus{
    outline: none;
}

.grant-hours-form{
    width: 200px;
}

.btn-approval{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.btn-grant{
    position: absolute;
    right: 5px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    transition: all 0.2s ease-in-out;
}

.btn-grant:hover{
    background-color: rgb(98, 231, 132);
}

.grant-label{
    position: absolute;
    top: 3px;
    font-size: 10px;
    color: gray;
    right: 45px;
}
.granted-hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.granted-hours p{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 0;
    text-align: right;
    margin-bottom: 0;
}

.granted-hours span{
    font-size: 12px;
    text-align: right;
}

.inside-settings-buttons{
    background: transparent;
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 25px;
    top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    transform-origin: right center;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

.inside-settings-buttons button{
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.inside-settings-buttons.active{
    transform: scale(1);
    right: 40px;
    pointer-events: all;
}

.inside-settings-buttons:hover{
    transform: scale(1);
    right: 40px;
    pointer-events: all;
}

.options-hover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.options-hover:hover + .inside-settings-buttons{
    transform: scale(1);
    right: 40px;
    pointer-events: all;
}

.grant-hours-thead{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 10px;
}

.grant-hours-thead span{
    font-size: 13px;
}

@media (max-width: 768px){
    .date-filter{
        width: 100%;
    }

    .reset-date.on-mobile{
        position: absolute;
        right: 175px;
        top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #e6e6e6;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reset-date.on-desktop{
        display: none;
    }

    .options-container.on-desktop{
        display: none;
    }

    .options.on-mobile .options-container{
        display: block;
    }

    .grant-hours-form{
        width: 150px;
        margin-right: -10px;
    }

    .grant-label{
        font-size: 8px;
    }

    .main-data{
        font-size: 12px;
    }

    .event-status-wrapper,
    .table-tr .table-overlay,
    .table-tr{
        border-radius: 25px !important;
    }

    .table-action-buttons{
        padding-right: 15px;
    }

    .options-hover:hover + .inside-settings-buttons{
        right: 28px;
    }

    .inside-settings-buttons:hover{
        right: 28px;
    }
}