.green {
    color: #1fbd6e !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 1px;
}

.red {
    color: rgb(223, 60, 60) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 1px;
}

.blue {
    color: rgb(0, 0, 255) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 1px;
}

.orange {
    color: rgb(255, 205, 69);
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 1px;
}

.light-blue {
    color: rgb(0, 124, 226) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 1px;
}

.modal-content {
    border: none !important;
    box-shadow: none !important;
}

.card {
    box-shadow: none !important;
}

.p-centered {
    text-align: center;
    line-height: 15px;
    position: relative;
}

.width {
    border: none !important;
}

.width p {
    width: 70px !important;
    text-align: center !important;
    line-height: 1px !important;
}

.table-main {
    width: 100%;
}

.table-main thead {
    /* background: linear-gradient(126deg, rgba(245,245,245,1) 0%, rgba(238,238,238,1) 100%); */
    background: #CFE9FF !important;
    color: black;
    padding: 20px !important;
}

.table-main thead tr th {
    padding: 13px !important;
}

.table-main td {
    padding: 10px !important;
    border-bottom: 1px solid #cccccc3f !important;
}

.th-border-rad {
    border-radius: 5px 0 0 0;
}

.th-action-btn {
    /* background: rgba(238,238,238,1) !important; */
    background: #CFE9FF !important;
    color: black;
    border-radius: 0 5px 0 0;
}


.mx-2 {
    height: 5px !important;
}

.table-main .action-btn {
    text-align: left !important;
}

.btn {
    font-size: 14px !important;
}

.user-infos {
    width: 400px !important;
}

.btn-float-right {
    float: right !important;
}

.button-edit:hover {
    color: #1796aa;
}

.button-delete:hover {
    color: #bb2635;
}

.close:focus,
.button-edit:focus,
.button-delete:focus,
.btn:focus,
.btn-cancel:focus,
.btn-delete:focus,
.btn-success:focus,
.btn-warning:focus,
.btn-submit:focus {
    outline: none !important;
    box-shadow: none !important;
}



.btn-submit:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-submit:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-submit:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #1796aa;
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

/* btn-submit */
.btn-submit:hover {
    color: #ffffff;
    border: 1px solid #1796aa;
}

.btn-submit:hover:before {
    top: -35%;
    background-color: #1796aa;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-submit:hover:after {
    top: -45%;
    background-color: #1796aa;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* btn-delete */
.btn-delete:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-delete:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-delete:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #bb2635;
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-delete:hover {
    color: #ffffff;
    border: 1px solid #bb2635;
}

.btn-delete:hover:before {
    top: -35%;
    background-color: #bb2635;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-delete:hover:after {
    top: -45%;
    background-color: #bb2635;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* btn-cancel */
.btn-cancel:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-cancel:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-cancel:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #6c757d;
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-cancel:hover {
    color: #ffffff;
    border: 1px solid #6c757d;
}

.btn-cancel:hover:before {
    top: -35%;
    background-color: #6c757d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-cancel:hover:after {
    top: -45%;
    background-color: #6c757d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* btn-success */
.btn-success:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-success:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-success:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #02C753;
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-success:hover {
    color: #ffffff;
    border: 1px solid #02C753;
}

.btn-success:hover:before {
    top: -35%;
    background-color: #02C753;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-success:hover:after {
    top: -45%;
    background-color: #02C753;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* btn-warning */
.btn-warning:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn-warning:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-warning:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #DD5600;
    border-radius: 50%;
    display: block;
    transition: all 0.3s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn-warning:hover {
    color: #ffffff;
    border: 1px solid #DD5600;
}

.btn-warning:hover:before {
    top: -35%;
    background-color: #DD5600;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-warning:hover:after {
    top: -45%;
    background-color: #DD5600;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* Action button design */

.btn-submit,
.btn-success,
.btn-cancel,
.btn-warning,
.btn-delete {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 3px 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}

.btn-success,
.btn-cancel,
.btn-submit,
.btn-warning,
.btn-delete {
    background: white;
}

.btn-success {
    border-color: #02C753;
    color: #02C753;
}

.btn-cancel {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-submit {
    border-color: #1796aa;
    color: #1796aa;
}

.btn-warning {
    border-color: #DD5600;
    color: #DD5600;
}

.btn-delete {
    border-color: #C41B2E;
    color: #C41B2E;
}

.btn-g .notif-count {
    padding: 0px 3px;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: -10px;
    border: 1px solid #ccc;
    z-index: 1;
}

.btn-submit:hover+.span,
.btn-success:hover+.span,
.btn-warning:hover+.span,
.btn-delete:hover+.span,
.btn-warning:hover+.span {
    display: block;
    top: -30px;
    opacity: 1;
}

.btn-g {
    position: relative;
}

.btn-group-2 {
    overflow-x: visible;
}

.span {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 3;
    color: black;
    padding: 1px 5px 3px 5px;
    border-radius: 3px;
    display: none;
    transition: all 0.2s ease-in;
    opacity: 0;
    background: rgb(245, 245, 245);
    border: 1px solid #ccc;
    font-size: 13px;
}

.centered-content {
    text-align: center;
}

.table-full-width {
    width: 100%;
}

.modal-footer {
    box-shadow: none !important;
    padding-right: 17px !important;
    border: none !important;
}

.card {
    margin-bottom: 0px !important;
}

.col-md-12 {
    margin-bottom: 50px !important;
}

.row-footer {
    margin-top: 20px !important;
    margin-left: -7px !important;
}

.anns-full-h .add-announcement-container {
    margin-top: 0 !important;
}

.modal {
    background: rgba(0, 0, 0, 0.2) !important;
    overflow-y: visible;
}

.bg-primary2 {
    background: red;
    color: white;
}

.close-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.notif-dot {
    color: red;
    font-size: 25px;
}

.pos-right {
    position: absolute !important;
    right: 5px !important;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 98% !important;
    }
}

@media (max-width: 768px) {
    .btn-float-right {
        float: left !important;
        margin-top: 5px !important;
    }

    .anns-full-h {
        position: fixed;
        top: 0;
    }

    .anns .add-announcement-container {
        margin: 10px !important;
        overflow-y: hidden;
    }

    .green {
        line-height: 10px;
    }

    .red {
        line-height: 10px;
    }

    .blue {
        line-height: 10px;
    }

    .light-blue {
        line-height: 12px;
        text-align: center;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .green {
        line-height: 10px;
    }

    .red {
        line-height: 10px;
    }

    .blue {
        line-height: 10px;
    }

    .light-blue {
        line-height: 12px;
        text-align: center;
    }
}