.top-buttons{
    display: flex;
}

.btn-s{
    color: rgb(0, 255, 0) !important;
}

.btn-d{
    color: red !important;
}

.btn-g.btn-pos-right:hover .hover-p{
    top: -25px;
    transform: scale(1);
}

.table-overlay.background-red{
    background: rgba(255, 0, 0, 0.05);
    border: 1px solid white;
}

@media (max-width: 768px){
    .table-files .req-files-buttons{
        background: transparent !important;
    }
}