.btn-accounts{
    position: relative;
}

.btn-accounts span{
    padding: 0px 5px;
    border-radius: 5px;
    position: absolute;
    top: -10px; left: -10px;
}

.user-info{
    margin-top: 50px;
    margin-bottom: 50px;
}

.red-flag{
    color: red;
    position: absolute;
    top: 0px;
}

.background-red{
    background-color: rgb(255, 242, 242) !important;
}

.btn-pos-right{
    position: absolute !important;
    right: 10px !important;
}

.btn-pos-right .span{
    font-size: 12px;
    margin-top: -15px;
}

@media (max-width: 768px){
    .btn-pos-right{
        position: relative !important;
    }
}