
.card-body{
    display:flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.reg-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/yvip_bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
    padding-top: 15px;
    padding-bottom: 15px;
 }
