.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('/images/yvip_bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}


.table-container{
    position: relative;
    overflow-x: hidden;
}

.table-wrapper{
    position: relative;
    overflow-x: hidden;
}

.panel-form-group .span-label {
    position: absolute;
    top: 0 !important;
    left: 15px !important; 
}

.popup-panel-footer {
    margin-top: 0 !important;
}

.cover-yvip-logo{
    position: absolute;
    right: 100px; top: 50px;
}

.file-btn{
    width: 100% !important;
}

.content{
    margin-top: 40px;
    border-radius: 25px;
    padding: 40px;
    position: relative;
}

.top-info{
    display: flex;
    align-items: end;
}

.top-info .name{
    margin-left: 20px;
    line-height: 10px;
}

.top-info img{
    border-radius: 50%;
    border: 5px solid #EFEFEF;
    width: 100px;
    height: 100px;
}

.user-info{
    margin-top: 30px;
    margin-left: 0px !important;
    overflow-y: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    border-radius: 20px;
}

.panel-form-group{
    padding: 20px 10px 10px 10px;
    margin-bottom: 10px !important;
}

.popup-modal-content{
    overflow: hidden;
}

.modal-title{
    font-size: 16px;
}

.user-info{
    z-index: 9;
}

.user-info .col1{
    width: 100%;
}

.user-info .row1{
    width: 100%;
    display: flex;
}

.user-info .row-header{
    border-bottom: 1px rgb(206, 206, 206) solid;
}

.user-info .row-footer{
    padding-top: 10px;
    border-top: 1px rgb(206, 206, 206) solid;
}

.user-info .col2{
    width: 50%;
}

.label span{
    font-weight: 400;
    text-transform: none;
}

.content-actions{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: -15px;
    padding-right: 10px;
}

.profile-pic{
    position: relative;
}

.profile-pic i{
    position: absolute;
    bottom: 5px; right: 5px;
    cursor: pointer;
}

.pop-up-message{
    position: fixed;
    top: -100px;
    right: 10px;
    width: auto;
    height: 60px;
    background: white;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1);
    border: 1px solid #e6eaee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 9999;
}

.pop-up-message .close{
   margin-top: -7px;
   margin-left: -10px;
}

.pop-up-message p{
    margin-top: 13px;
    margin-left: 10px;
    text-align: center;
    color: #28a745;
}

.row-space{
    justify-content: space-between;
}

.row-space .col2{
    width: 49%;
}

.row-space .col-2,
.row-space .col-2 .input-group{
    width: 100% !important;
}

.row1 i{
    cursor: pointer;
}

.edit-title{
    position: relative;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.edit-footer{
    position: relative;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
}

.edit-footer button{
    margin-right: 5px;
}

.edit-title button{
    position: absolute;
    right: 0;
}

.label-formatted{
    text-transform:capitalize;
}

.pop-up-message p{
    text-transform: capitalize;
}

.address-label span{
    text-transform: capitalize;
}

.anns-fixed .delete-message{
    width: 500px;
}



@media (max-width:768px){
    .anns-fixed{
        position: fixed !important;
        top: 0;
    }

    .profile-body{
        padding: 5px 5px;
    }

    .profile-header .cover{
        position: absolute;
        top: 0; left: -10px;
        width: 105%;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    .content{
        margin-top: 70px;
        padding: 0;
    }

    .top-info{
        display: flex;
        margin-top: 10px;
    }

    .top-info .name{
        margin-left: 10px;
        line-height: 10px;
    }

    .top-info .name h3{
        font-size: 17px;
    }

    .profile-pic{
        position: relative;
        margin-left: 0;
        margin-top: 20px;
        width: 100px;
    }

    .user-info .row1{
        display: block !important;
    }

    .user-info .row1 .col2{
        width: 100%;
    }
    
}