.page-wrapper{
  background: #fafafa;
}

.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: #fafafa;
    width: 100%;
    z-index: 999;
  }

  .progress-container-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    width: 100%;
    height: 50px;
    z-index: 998;
  }
  
  .progress-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .progress-bar .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    overflow: auto;
    align-items: center;
    z-index: 1;
  }
  
  .progress-bar .circle.active {
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  .file-btn{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    border-radius: 20px;
    border: none;
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 20px 0;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif !important;
    border: 5px solid #f0f0f0;
    cursor: pointer;
}

  .dot.active{
    opacity: 1;
  }

  .dot.active.validated{
    background: dodgerblue;
  }
  
  
  .progress-bar .circle.active + .circle::after {
    background-color: lightgray;
    z-index: -1;
  }
  
  .progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: lightgray;
    transition: width 0.3s;
    z-index: 1;
  }

  .dot{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    border:2px solid dodgerblue;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  #progress-colored {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: dodgerblue;
    transition: width 0.3s;
    z-index: 2;
  }
  
  .form-section{
    display: block;
  }

  .card-body{
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1) !important;
    border-radius: 25px !important; 
    overflow: hidden !important;
    padding: 30px;
    background: white;
  }
  
  button {
    margin: 10px 5px;
  }

  .panel-input-1{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: #f0f0f0;
    padding: 0 15px;
    cursor: text;
}

.panel-input-1:focus{
  outline: none
}

.required-mark{
  color: red;
  position: absolute !important;
  top: -5px !important;
  left: -5px !important;
}

.panel-input-1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif !important;
}

.address-select{
  width: 100%; display: flex;
  justify-content: space-between;
}

.select-icon{
  position: absolute;
  top: 8px;
  right: 10px;
  color: #a3a3a3;
  pointer-events: none;
  background: #ffffff;
  padding: 6px 8px 4px 8px;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}


  .reg-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;
  }

  .reg-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .section-title{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .section-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-buttons b a{
    text-decoration: none;
  }

  .float-right{
    float: right;
  }

  .float-left{
    float: left;
  }

  .btn-cancel{
    margin-right: 1px !important;
  }

  .file-box{
    padding: 2.5px 5px !important;
  }

  .circle span{
    position: absolute;
    bottom: 25px;
    font-size: 12px;
  }

  .circle.active span{
    color: black;
    width: 150px;
    text-align: center;
  }

  .fa-check{
    opacity: 0;
    font-size: 12px;
    margin-right: 1px;
  }

  .fa-check.active{
    opacity: 1;
  }

  .form-section{
    display: none !important;
  }

  .form-section.visible{
    display: contents !important;
  }

.loading-container {
    position: absolute !important;
    top: 2px; left: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-spinner {
  position: absolute;
  top: 2px; left: 2px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
  margin-left: 1px;
  animation: spin 2s linear infinite;
}

.loading-container.d-none{
  display: none !important;
}

.d-flex{
  display: flex;
}

.disabled{
  background: lightgray;
}

  @media (max-width: 768px){
    .circle span{
        display: none;
    }

    
  .address-select{
    width: 100%; display: block;
  }
}
  
