.table-thead{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(138deg, rgba(117,224,254,0.2) 0%, rgba(255,201,157,0.2) 100%);
    border-radius: 20px 20px 0 0;
}

.rewards{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #fcfcfc;
}

.table-thead div{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
    font-weight: 600;
}

.rewards div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
}

.rewards form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background: #f7f7f7;
}

.rewards form div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px;
}

.rewards-action{
    position: absolute;
    top: 0;
    right: 0;
    height: 100% !important;
    width: 70px !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
}

.action{
    padding: 5px !important;
}

.add-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-form .row{
    width: 100%;
}

.popup-panel-content .modal-header{
   padding: 0;
   margin-bottom: 40px;
   border: none !important;
   padding-top: 10px;
}

.popup-panel-content .modal-header .row-buttons{
   position: absolute;
   bottom: -30px;
}

.rewards-header{
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0 !important;
}

.btn-claim-requests{
    display: flex;
    position: absolute;
    right: 160px;
}

.btn-claim-requests .notif-count{
    position: absolute;
    left: -13px; top: -7px;
}

.btn-claim-requests .notif-count{
    padding: 0 5px;
    border-radius: 7px;
    z-index: 9;
    border: 1px solid #fcfcfc;
}

@media (max-width: 768px){
    .panel-content-wrapper{
        height: fit-content !important;
    }

    .rewards-header{
        display: flex !important;
    }
    .rewards-action{
        width: 10px !important;
    }

    .rewards form div{
        padding: 0 5px !important;
    }

    .m-r-m{
        margin-right: 20px;
    }

    .table-header.justify-left{
        position: relative;
        margin-bottom: 60px;
    }

    .btn-claim-requests {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 60px;
        width: 100%;
    }

    .btn-claim-requests .notif-count {
        left: 0;
    }
}