.close-form {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.200);
}

.see-rewards {
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

.rewards-form .modal-content {
    width: 800px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rewards-table-content .card {
    display: inline-block !important;
}

.table-contain .card,
#rewards-table {
    width: 100%;
}

.table-contain {
    width: 95% !important;
    overflow-x: hidden !important;
    border-radius: 5px;
}

.table-contain .card,
#rewards-table,
.rewards-row {
    border-radius: 5px !important;
}

.rewards ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
    pointer-events: none;
    margin-bottom: 5px;
    margin-left: 5px;
}

.rewards span {
    margin-left: 5px;
}

.claim-reward {
    list-style-type: none;
}

.reward-list li {
    margin-bottom: 15px;
}

#rewards-table .reward-actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
}

.pop-up-message {
    position: absolute;
    top: -100px;
    right: 10px;
    width: auto;
    height: 60px;
    background: white;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1);
    border: 1px solid #e6eaee;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
    padding-left: 30px;
    padding-right: 20px;
    z-index: 9999;
}

.pop-up-message .close {
    margin-top: -7px;
    margin-left: -10px;
}

.pop-up-message p {
    margin-top: 13px;
    margin-left: 10px;
    text-align: center;
    color: #28a745;
}

.main-div-request {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

.request-form-container .request-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div-request .card-primary {
    width: 100%;
    height: 100%;
}

.requester {
    display: flex !important;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.request-form .modal-content {
    width: 600px;
}

#rewards-table .claim-status li {
    margin-bottom: 15px;
    list-style-type: none;
}

#rewards-table .actions {
    text-align: center;
}

#rewards-table .claim-reward {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.card-header button {
    margin-left: 5px;
    float: right;
}

.nav-for-action {
    float: right;
    color: black;
}

.btn-g {
    position: relative;
}

.notif-count {
    position: absolute;
    top: -10px;
    left: calc(89% + 5px);
    padding: 0px 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 9;
}

.btn-reward {
    margin-right: 7px;
}