.s-c-row{
    background: white;
    margin-bottom: 10px;
    padding: 25px 15px 15px 15px;
    border-radius: 30px;
    display: block;
    position: relative;
    overflow: hidden;
}

.table-overlay{
    border-radius: 30px !important;
}

.table-header .top-buttons {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}

.s-c-buttons{
    position: absolute;
    right: 15px;
    display: flex;
    top: 15px;
}

.s-c-buttons .btn-group-2{
    display: flex
}

.skills-list{
    padding: 0 10px;
}

.panel-form-group{
    display: block !important;
}

.add-edit-skill-input{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.add-edit-skill-input .close{
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    border-radius: 50%;
    display: flex;
    top: 5px;
    justify-content: center;
    align-items: center;
    right: 5px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none;
    transition: all 0.2s ease-in-out;
}

.add-edit-skill-input .close:hover{
    background: rgb(247, 84, 84);
    color: white;
}