.table-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.table-container{
    width: 800px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(230,230,230,1) 100%);
    padding: 20px;
    overflow-x: hidden;
}

.table-header{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.table-header.width-100{
    width: 100%;
}

.bordered-bottom{
    border-bottom: 1px solid #f1f1f1;
}

.table-header.table-header-2{
    justify-content: space-between;
    padding: 10px;
    
}

.table-title{
    font-size: 20px;
    font-weight: 500;
}

.table-header.justify-left{
    justify-content: left;
}

.table-header .form-control{
    border-radius: 10px;
    font-size: 13px;
    border: none;
}

.table-header .table-label{
    font-weight: 400 !important;
}

.table-table.rounded{
    border-radius: 25px !important;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.table-buttons{
    display: flex;
    padding-left: 7.5px;
}

.table-button{
    border-radius: 20px;
    background: linear-gradient(138deg, rgb(224, 248, 255) 0%, rgb(255, 245, 236) 100%);
    border: 1px solid white;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    color: #555555;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.table-button-2{
    border-radius: 10px;
    background: #e6e6e6;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    color: #555555;
    transition: all 0.2s ease-in-out;
    border: none;
    cursor: pointer;
}

.table-button:hover{
    background: linear-gradient(45deg, rgb(203, 243, 255) 0%, rgb(247, 221, 199) 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.table-button-2:hover{
    background: #313131;
    color: white;
}

.table-button-2.hover-disabled:hover{
    background: #e6e6e6;
    color: #555555;
    cursor: default;
}

.table-button:focus,
.table-button-2:focus{
    outline: none;
}

.table-button .is-desktop-view{
    margin-left: 5px;
}

.table-header .top-buttons{
    position: relative;
}

.table-notif-counter{
    color:white;
    position: absolute;
    top: -7px;
    left: -12px;
    padding: 1px 4px;
    border-radius: 7px;
    border: 1px solid rgb(255, 255, 255);
}

.table-table{
    margin-top: 20px;
}

.table-table .table{
    font-size: 13px;
    width: 100%;
}

.table-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(138deg, rgba(117,224,254,0.05) 0%, rgba(183,212,220,0.01) 35%, rgba(201,209,207,0) 51%, rgba(221,206,194,0.01) 68%, rgba(255,201,157,0.08) 100%);
}

.table-tr{
    position: relative;
    width: 100%;
    background: #ffffff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.table-tr:hover{
    box-shadow: 3px 5px 5px #a7a7a72f;
    /* border: 1px solid rgb(138, 138, 138); */
}

.table-tr .tr{
    position: relative;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: start;
    padding-bottom: 30px;
}

.table-tr .tr img{
    position: absolute;
    top: 0; left: 0;
}

.data-row{
    position: relative;
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    height: 30px;
    overflow-wrap: break-word;
}

.data-row.no-padding{
    padding-right: 10px;
    padding-left: 10px;
}

.data-row.margin-top{
    margin-top: 13px;
}

.data-row.display-none{
    display: none !important;
}

.table-tr-data{
    width: 50%;
    padding-right: 20px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
    overflow-wrap: break-word;
}

.table-tr-data.data-col-full{
    width: 100%;
}


.table-tr-data.main-data{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.see-more{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.see-more .see-more-bar{
    display: block;
    width: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.see-more .see-more-bar:hover{
    display: block;
    width: 45px;
    cursor: pointer;
}

.see-more-bar .bar{
    height: 2px;
    width: 100%;
    margin-bottom: 2px;
    background: #e6e6e6;
}

.table-action-buttons{
    position: absolute;
    width: 70px;
    height: 85px;
    top: 0; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-action-button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 1px 3px 0 3px;
}

.table-action-button:focus{
    outline: none;
}

.table-action-button.t-a-b-submit{
    border: 1px solid rgb(0, 51, 146);
    color: rgb(0, 51, 146);
}
.table-action-button.t-a-b-success{
    border: 1px solid rgb(0, 146, 61);
    color: rgb(0, 146, 61);
}
.table-action-button.t-a-b-warning{
    border: 1px solid rgb(146, 46, 0);
    color: rgb(146, 46, 0);
}
.table-action-button.t-a-b-danger{
    border: 1px solid rgb(146, 0, 0);
    color: rgb(146, 0, 0);
}

.table-btn-g{
    position: relative;
    height: 20px;
    width: 20px;
}

.table-btn-g .hover-p{
    position: absolute;
    text-align: right;
    right: 25px;
    height: 20px;
    width: fit-content;
    padding: 1px 5px 0 5px;
    font-size: 12px;
    border-radius: 10px;
    vertical-align: middle;
    background: #f1f1f1;
    transform-origin: right center;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    top: 0;
    z-index: 1;
}

.table-btn-g.w-35{
    width: 35px !important;
}

.hovered-p:hover{
    color: #001b35;
}

.data-row.center .table-btn-g{
    position: relative;
}

.hover-p-2{
    position: absolute;
    text-align: right;
    left: 0;
    height: 20px;
    width: fit-content;
    padding: 1px 5px 0 5px;
    font-size: 12px;
    border-radius: 10px;
    vertical-align: middle;
    background: #f1f1f1;
    transform-origin: bottom center;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    top: -22px;
}

.data-row.center .table-btn-g:hover .hover-p-2{
    transform: scale(1);
}

.table-action-button:hover + .hover-p{
    transform: scale(1);
}

.other-details{
    width: 100%;
    height: fit-content;
    position: relative;
    display: block;
    padding-left: 70px;
    padding-right: 70px;
}

.other-details-table{
    margin-top: 25px;
    width: 100%;
}

.other-details-table thead tr th{
    border: none !important;
    background: #EFEFEF;
    vertical-align: top;
}

.other-details-table tbody tr td{
    border: none !important;
}

.other-details-table tbody tr{
    border: none !important;
}

.data-row.center{
    justify-content: center;
}

.primary-data{
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.primary-data-2{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: auto;
    margin-left: -13px;
}

.primary-data-2 img{
    width: 60px;
    height: 60px;
}

.primary-data .p-data{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primary-data .p-data p{
    margin: 0 !important;
    text-align: left !important;
}

.secondary-data{
    display: block;
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
    padding-top: 20px;
}

.secondary-data.display-none{
    display: none;
}

.secondary-data .other-details,
.secondary-data .data-row{
    padding: 0 !important;
}

.table-files{
    display: block;
}

.table-files .file-container{
    display: flex;
    align-items: center;
    margin-top: -20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}

.table-files .other-files{
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

.is-mobile-view{
    display: none;
}

.is-desktop-view{
    display: flex;
}

.table-search-bar{
    width: 300px;
    height: 35px;
    border-radius: 13px;
    border: none;
    padding: 7px 10px;
}

.table-search-bar:focus{
    outline: none;
}

.popup-modal .modal-footer{
    margin-top: -10px !important;
}

.main-contents{
    width: 100%;
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    justify-content: center;
}

.table-tr-2{
    width: 100%;
    height: 70px;
    border-radius: 50px;
    background: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.primary-data-2{
    width: 120%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin-left: -13px;
}

.primary-data-2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.primary-data-2 .data-row{
    padding-left: 0;
    height: 100%;
}

.justify-space-between{
    justify-content: space-between;
}

/* Mobile View -----------------------------------------------------**/

@media (max-width: 768px){
    .is-mobile-view{
        display: flex;
    }

    .is-desktop-view{
        display: none;
    }

    .table-header.table-header-2 .top-buttons{
        margin-left: 10px;
    }

    .main-contents{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
    }

    .main-contents .container{
        padding: 0 !important;
    }

    .main-contents .container .row{
        margin: 0 !important;
    }

    .table-wrapper{
        width: 100;
    }

    .table-container{
        width: 96%;
        padding: 10px;
    }

    .table-table{
        width: 100%;
    }

    .table-header{
        display: block;
    }

    .table-header.table-header-2{
        display: flex;
    }

    .table-title{
        text-align: center;
    }

    .table-tr .tr{
        display: block;
    }

    .table-tr-data.main-data {
        font-size: 12px;
        font-weight: bold;
    }

    .data-row{
        padding-right: 0;
    }

    .data-row.full-w-on-mobile{
        width: 100%;
        padding-right: 0;
    }

    .data-row.margin-top{
        margin-top: 5px;
    }

    .table-tr-data{
        width: 100%;
        line-height: 18px;
        margin-top: -5px;
        padding-right: 40px;
    }

    .data-row{
        display: block;
    }

    .data-row.on-mobile{
        padding-left: 0;
        height: fit-content;
    }

    .data-row.center{
        display: flex;
    }

    .data-row.on-mobile.m-margin-top{
        margin-top: 30px;
    }

    .other-details.on-mobile{
        padding-left: 0;
        padding-right: 0;
    }

    .secondary-data{
        padding-top: 0px;
    }

    .secondary-data img{
        margin-bottom: 10px;
    }

    .table-files{
        height: 80px;
        position: relative;
    }

    .table-files .req-files-buttons{
        position: absolute;
        top: -25px;
        right: 0;
        display: flex;
        flex-direction: column;
        background: white;
        padding: 0 5px;
    }

    .table-files .other-files .req-files-buttons{
        position: relative !important;
        display: block !important;
        padding: 0 5px;
    }

    .table-files .other-files .file-container{
        display: block !important;
        margin-top: -10px;
    }

    .table-files .other-files .file-container .req-files-buttons{
        background: transparent;
        top: 0;
    }

    .table-files.fit-height{
        height: fit-content;
    }

    .primary-data .p-data p{
        font-size: 11px;
    }

    .data-row.no-padding{
        padding: 0;
    }

    .primary-data-2{
        width: 120%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        margin-left: -13px;
    }
    
    .primary-data-2 img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .primary-data-2 .data-row{
        padding-left: 0;
        height: 100%;
    }

    .primary-data-2 .data-row .table-tr-data{
        margin-top: 7px;
    }
}

