.content-wrapper2{
    height: 100vh !important;
    overflow-x: auto;
}

.volunteers-table-content .card{
    display: inline-block !important;
}



.wrapper{
    position: sticky !important;
    top: 0 !important;
    z-index: 9 !important;
}

.users-data-all-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-in-out;
    z-index: 999999;
}



.users-data-all-container .user-info{
    width: 600px;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 20px;
    border-radius: 10px;
    border: 1px rgb(206, 206, 206) solid;
}

.user-info{
    z-index: 9;
}

.user-info .col1{
    width: 100%;
}

.user-info .row1{
    width: 100%;
    display: flex;
}

.user-info .row-header{
    border-bottom: 1px rgb(206, 206, 206) solid;
}

.user-info .row-footer{
    padding-top: 10px;
    border-top: 1px rgb(206, 206, 206) solid;
}

.user-info .col2{
    width: 50%;
}

.user-info .btn-50{
    width: 50px;
}

.user-info .btn-green{
    background: #28a745;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.user-info .btn-close-user-data{
    background: #17a2b8;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.user-info .btn-danger{
    padding: 2px 5px;
    border-radius: 5px;
}

.label span{
    font-weight: 400;
    text-transform: none;
}

.volunteers-table-content .btn-xs{
    width: 100% !important;
}

.volunteers-table-content .card-header1{
    display: flex;
}

@media (max-width:768px) {
    .user-info .row1{
        display: block;
    }

    .user-info .col2{
        width: 100%;
    }

    .volunteers-table-content .card-header1{
        display: block;
    }

    .volunteers-table-content .col-md-1{
        width: 300px;
        margin-top: 10px;
    }

    .volunteers-table-content .col-md-2{
        width: 300px;
        margin-top: 10px;
    }
    
}